.filterYearBt{
	background-color: #F9F9F9;
	color: #474747;
	margin: 2px;
	box-shadow: none;
 	border-radius: 0px;
 	padding-left: 18px;
 	padding-right: 18px;
 	padding-top: 3px;
 	padding-bottom: 3px;
 	border: 0;
}
.filterYearBt:hover{
	background-color: #ff4d4d;
	color: #ffffff;
}

.addListBt{
	background-color: #ff4d4d;
	color: #ffffff;
	margin: 0px;
	box-shadow: none;
 	border-radius: 0px;
 	padding-top: 3px;
 	padding-bottom: 3px;
 	border: 0;
 	width: 100%;
}
.addListBt:hover{
	color: white;
	background-color: #2bae3a;
}
.addListBt:disabled{
	color: #9e9e9e;
	background-color: #7c2b2b;
}
.addListBt-active {
    pointer-events: none;
	color: white;
	background-color: #2bae3a;
	margin: 0px;
	box-shadow: none;
 	border-radius: 0px;
 	padding-top: 3px;
 	padding-bottom: 3px;
 	border: 0;
 	width: 100%;
}

.no-click{
	pointer-events: none;
}

.movieGenreBt{
	background-color: #E8E8E8;
	color: #474747;
	margin: 2px;
	box-shadow: none;
 	border-radius: 0px;
 	padding-left: 18px;
 	padding-right: 18px;
 	padding-top: 3px;
 	padding-bottom: 3px;
 	border: 0;
}
.movieGenreBt:hover{
	background-color: #ff4d4d;
	color: #ffffff;
}
a.profileNavBtn{
	height: : 50px;
	width: auto;
	font-weight: 700;
	color: #9E9E9E;
	font-size: 13px;
	padding-bottom: 10px;
	margin-right: 20px;
	text-decoration: none;
}
a.profileNavBtn:hover{
	color: #6D6D6D;
	text-decoration: none;
}

a.profileActivePage{
	color: #6D6D6D;
	border-bottom:3px solid #FF4D4D;
	text-decoration: none;
}

a.profileSideNav{
	color: #6D6D6D;
}
a.profileSideNav:hover{
	color: #FF4D4D;
}

.badgebox
{
    opacity: 0;
}

.badgebox + .badge
{
    /* Move the check mark away when unchecked */
    text-indent: -999999px;
    /* Makes the badge's width stay the same checked and unchecked */
	width: 27px;
}

.badgebox:focus + .badge
{
    /* Set something to make the badge looks focused */
    /* This really depends on the application, in my case it was: */
    
    /* Adding a light border */
    box-shadow: inset 0px 0px 5px;
    /* Taking the difference out of the padding */
}

.badgebox:checked + .badge
{
    /* Move the check mark back when checked */
	text-indent: 0;
}

.btn span.glyphicon {    			
	opacity: 0;				
}
.btn.active span.glyphicon {				
	opacity: 1;				
}