.movie-backdrop-header{
	width: 100%;
	height: 400px;
	overflow: hidden;
	object-fit: cover;

}

.profilepage-header{
	width: 100%;
	height: 275px;
	overflow: hidden;
	object-fit: cover;
	background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('https://cdn-images-1.medium.com/max/1200/1*WwVsa9UvKpoffnWDL-FzsQ.jpeg');
    color: white;
}

.profilepage-logo{
	width: 100px;
	height: auto;
}
.transparent{
	opacity: 0.6;
    filter: alpha(opacity=50);
}

.transparent-high{
	background-color: rgba(0,0,0,0.5);
}

.blur{
	-webkit-filter: blur(50px);
    filter: blur(50px);
}

.viewMoviePoster{
	width: 250px;
	height: auto;
}
