.primaryColor{
    color: #ff4d4d;
}

.bold{
	font-weight: bold;
}
.white{
    color:white; 
}
.indexAlphabet{
	color: #383838;
	font-size: 15px;
	padding-left: 13px;
	padding-right: 13px;
}
.movieTagLine{
	color: #383838;
	font-size: 15px;
}
a.movieTitleSmall{
	color: #ffffff;
	font-size: 15px;
}
a.movieTitleSmall:hover{
	color: #ffffff;
	font-size: 15px;
	text-decoration: none;
}

.filterTitle{
	color: #ff4d4d;
	font-size: 15px;
	font-weight: bold;
}

a.filterText{
	color: #474747;
	font-size: 15px;
	font-weight: normal;
}
a.filterText:hover{
	color: #ff4d4d;
}

.pageTextNoLink{
	padding: 3px;
	color: #474747;
	font-size: 18px;
	font-weight: normal;
}

a.pageText{
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 5px;
	padding-right: 5px;
	border-style: solid;
	border-width: 0.01em;
	color: #474747;
	font-size: 18px;
	font-weight: normal;
	border-radius: 3px;
	text-decoration: none;
}
a.pageText:hover{
	color: #f75b5b;
	text-decoration: none;
}
a.pageText-active{
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 5px;
	padding-right: 5px;
	border-style: solid;
	border-width: 0.01em;
	color: #ff4d4d;
	font-size: 18px;
	font-weight: normal;
	border-radius: 3px;
	text-decoration: none;
}
a.pageText-active:hover{
	color: #f75b5b;
	text-decoration: none;
}

.voteText{
	color: #4A4A4A;
}

.detailText{
	color: #383838;
	font-size: 15px;
	margin: 0;
	padding: 5px;
}

::selection { background: #ff5e99; color: #FFFFFF; text-shadow: 0; }
::-moz-selection { background: #ff5e99; color: #FFFFFF; }


