.primaryColor{
    color: #ff4d4d;
}

.bold{
	font-weight: bold;
}
.white{
    color:white; 
}
.indexAlphabet{
	color: #383838;
	font-size: 15px;
	padding-left: 13px;
	padding-right: 13px;
}
.movieTagLine{
	color: #383838;
	font-size: 15px;
}
a.movieTitleSmall{
	color: #ffffff;
	font-size: 15px;
}
a.movieTitleSmall:hover{
	color: #ffffff;
	font-size: 15px;
	text-decoration: none;
}

.filterTitle{
	color: #ff4d4d;
	font-size: 15px;
	font-weight: bold;
}

a.filterText{
	color: #474747;
	font-size: 15px;
	font-weight: normal;
}
a.filterText:hover{
	color: #ff4d4d;
}

.voteText{
	color: #4A4A4A;
}

.detailText{
	color: #383838;
	font-size: 15px;
	margin: 0;
	padding: 5px;
}


